<md-tabs md-selected="selectedIndex" layout="column">
	<md-tab label="Tab #1" ng-click="setRoute('home')" ng-model="selectedIndex">
		<md-tab-label>Info</md-tab-label>
	</md-tab>
	<md-tab label="Tab #2" ng-click="setRoute('db')" ng-model="selectedIndex">
		<md-tab-label>Database</md-tab-label>
	</md-tab>
	<md-tab label="Tab #3" ng-click="setRoute('solr')" ng-model="selectedIndex">
		<md-tab-label>Solr</md-tab-label>
	</md-tab>
	<md-tab label="Tab #4" ng-click="setRoute('tools')" ng-model="selectedIndex">
		<md-tab-label>Tools</md-tab-label>
	</md-tab>
	<md-tab label="Tab #5" ng-click="setRoute('settings')" ng-model="selectedIndex">
		<md-tab-label>Settings</md-tab-label>
	</md-tab>
</md-tabs>